<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.READ_USER_DICTIONARY" />
    <uses-permission android:name="android.permission.WRITE_USER_DICTIONARY" />

    <application
        android:allowBackup="false"
        android:label="@string/provider_name"
        android:largeHeap="true"
        android:supportsRtl="true">

        <service
            android:name="org.futo.inputmethod.latin.autocorrect.FlorisAutocorrectService"
            android:exported="true"
            android:label="@string/provider_service_name">
            <intent-filter>
                <action android:name="org.florisboard.autocorrect.api.action.BIND_PROVIDER" />
            </intent-filter>
            <meta-data
                android:name="org.florisboard.autocorrect.api.PROTOCOL_VERSION"
                android:value="3" />
        </service>
    </application>
</manifest>
